.litContainer {
    width: 100%;
    border: 1px solid black;
    overflow: hidden; /* will contain if .first is longer than .second */
}
.listOne {
    width: 300px;
    float:left; /* add this */
    border: 1px solid red;
}
.listTwo {
    border: 1px solid green;
    overflow: hidden; /* if you don't want .second to wrap below .first */
}